.footer {
    background-color: var(--color-tertiary);
    color: var(--color-white);

    @media only screen and (max-width: 580px) {
        text-align: center;
    }

    .footer__logo{
        margin: auto;
    }
    .footer__links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-gap: 2rem;
        padding: 4rem 2rem;
        justify-items: center;
        align-items: center;
        text-transform: capitalize;

        @media only screen and (max-width: 580px) {
            display: block;

            &>*:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        &1 {
            h3 {
                font-size: 1.75rem;
                margin-bottom: 1rem;
            }

            &:first-child {
                text-align: center;
            }

            font-size: 1.2rem;
            list-style: none;

            .footer__linksLists a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }

            .footer__pay {
                width: 100%;
                display: block;

                @media only screen and (max-width: 580px) {
                    width: 20rem;
                    margin: 0 auto;
                }

            }
        }
    }
}

.footer__branding {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

    &>*:not(:last-child) {
        margin-right: 1rem;
    }
}

.footer__last {
    padding: 3rem 0;
    font-size: 1.2rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &>*:not(:first-child) {
        font-weight: bold;
    }

    @media only screen and (max-width: 580px) {
        flex-direction: column;
    }
}


.socials {
    display: block;
}